@font-face {
  font-family: "Academy";
  font-style: normal;
  font-weight: bold;
  src: url("fonts/academyc-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/academyc-webfont.woff") format("woff"), url("../fonts/academyc-webfont.ttf") format("truetype");
}

body {
	background-color: #f7f6ec;
	font-family: 'Academy', serif;
	min-width: 320px;
}

h1 {
	color: #b39c5a;
}

p {
	margin: 1em 0px;
}

h3 {
	padding: 0px;
	margin: 0px;
	line-height: 1em;
	font-weight: normal;
	font-style: normal;
}

#container {
	box-sizing: border-box;
	max-width: 1440px;
	width: 90%;
	margin: 38px auto 50px auto;
	outline: 2px solid black;
	border: 8px solid #f7f6ec;
	box-shadow: inset 0px 0px 0px 1px #b39c5a;
	padding: 15px 50px 30px 50px;
	position: relative;
	z-index: 1;
}

.language {
	margin-left: 0px;
	font-size: 15px;
	color: #4d4d4d;
	text-decoration: none;
	border-bottom: solid 1px #b39c5a;
	font-style: italic;
}

.email {
	float: right;
	margin-right: 0px;
	font-size: 15px;
	color: #4d4d4d;
	text-decoration: none;
	border-bottom: solid 1px #b39c5a;
	font-style: italic;
}

#fixed_topside {
	width: 100%;
	position: fixed;
	height: 40px;
	top: 0;
}

header {
	margin-top: 20px;
}

.heading_name {
	font-size: 44px;
	color: #b39c5a;
	text-align: center;
	margin: 20px 0 30px 0;
}

.nana_photo {
	display: block;
	margin: auto;
	border: 7px solid #fff;
	outline: 5px solid #b39c5a;
	width: 33%;
}

.navigation {
	width: 236px;
	position: absolute;
	top: 127px;
	right: 45px;
}

.navigation a{
	display: block;
	float: right;
	padding: 6px;
	margin-right: 20px;
	text-decoration: none;
	color: #252525;
	text-transform: uppercase;
	font-size: 15px;
	background: #f2e9e2;
	margin-top: 1px;
}

.left_banner {
	position: absolute;
	top:150px;
}

.left_banner_logo {
	float: left;
}

.left_banner_date {
	margin-left: 12px;
	float: left;
}

.date_num {
	padding: 0px;
	font-size: 40px;
	display: block;	
}

.date_month {
	font-size: 13px;
	font-family: Arial, sans-serif;
}

.nearest_event {
	margin-top: 70px;
	width: 80px;
	margin-left: 142px;
	padding: 7px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-style: italic;
}

.banner_heading {
	width: 130px;
	font-size: 20px;
	padding-top: 5px;
	line-height: 24px;
	clear: both;
}

.banner_heading a {
	color: #2f2f2f;
	text-decoration: none;
	border-bottom: solid 1px #b39c5a;
}

.banner_text {
	width: 275px;
	padding-top: 5px;
	font-size: 12px;
	font-family: Arial, sans-serif;
	color: #4f4f4f;
	line-height: 18px;
	clear: both;
}

.biography {
	position: absolute;
	right: 66px;
	top: 395px;
}

.bio_heading {
	color: #B39C5A;
	font-size: 35px;
}

.bio_text {
	width: 280px;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 20px
}